/* navbar */


.section-main{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
  z-index: 899;
}

.section-main h1{
  color: rgba(255, 255, 255, 0.5);
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 80px;
  z-index: 999;
}
.logo{
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4px;
}

.header_nav{
  z-index: 9999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  transition: 0.6s;
  background-color: rgba(11, 102, 221, 0.336);
}


.header_nav .brand{
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 2px;
  z-index: 999;
}

.header_nav .menu{
  position: relative;
  display: flex;
  justify-content: center;
 z-index: 999;
  align-items: center;
}

.header_nav .menu a{
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  margin: 0 30px;
  padding: 0 10px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: color, background;
  z-index: 999;
}

.header_nav .menu a:hover{
  color: #000;
  background: rgb(0, 201, 201);
  z-index: 999;
}

.header_nav .btn{
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  display: none;
  z-index: 999;
}

.section-two{
  min-height: 100vh;
  background: #001018;
  padding: 20px 100px;
  z-index: 999;
}

.btn_login {
  padding: 10px 30px ;
}

.header_nav .menu .btn_login a{
  color: rgb(255, 255, 255);
  background-color:rgb(0, 201, 201) ;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: color, background;
  z-index: 999;
}

.header_nav .menu .btn_login a:hover{
  color: #000;
  background: rgb(219, 219, 219);
  z-index: 999;
}

@media (max-width: 1060px){
  .header_nav .btn{
    display: block;
    z-index: 999;
  }

  .header_nav .menu{
    position: fixed;
    background: #1485d5af;
    flex-direction: column;
    min-width: 300px;
    height: 100vh;
    top: 0;
    right: -200%;
    padding: 80px 50px;
    transition: 0.5s;
    transition-property: right;
    z-index: 999;
  }

  .header_nav .menu.active{
    right: -10px;
    top: 0;
    z-index: 99;
  }

  .header_nav .menu .close-btn{
    position: absolute;
    top: -145px;
    left: 90px;
    margin: 25px;
    z-index: 99;
  }

  .header_nav .menu a{
    display: block;
    font-size: 20px;
    margin: 20px;
    padding: 0 15px;
    z-index: 9999;
  }
}

@media (max-width: 630px){
  .section-main h1{
    font-size: 40px;
    line-height: 80px;
  }
  .header_nav .menu.active{
    right: -10px;
    top: 0;
    z-index: 99;
  }
}           
/* akhir navbar */

/* awal homepage */


  .v-header{
    height:98vh;
    display:flex;
    align-items:center;
    color:rgb(255, 255, 255);
  }

  
  .containers{
    max-width:2060px;
    padding-left:1rem;
    padding-right:1rem;
    margin:auto;
    justify-content:center;
  }
  
  .fullscreen-video-wrap{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    overflow:hidden;
  }
  
  .fullscreen-video-wrap video{
    min-height:100%;
    min-width:100%;
    z-index: 1;
  }
  
  .header-home{
    height:100vh;
    position: absolute;
    top:0px;
    left:0;
    width:100vw;
    z-index:2;
    background:#3f3d3d4d;
    opacity:0.85;
  }
  
  .header-content{
    z-index:2;
    
  }
  
  .header-content h1{
    font-size:50px;
    margin-bottom:0;
    text-align: center;
  }
  
  .header-content p{
    font-size:1.2rem;
    display:block;
    padding-bottom:2rem;
    text-align:center;
  }
  


  .btn_produk {
    padding: 9px 25px;
    background-color: rgb(0, 201, 201);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    z-index: 999;
    top: 430px;
    left: 200px;
  }
  .btn_produk:hover {
    background-color: rgba(179, 183, 184, 0.8);
  }
 

  
  
  @media(max-width:960px){
    .container{
      padding-right:3rem;
      padding-left:3rem;
    }
  }

  /* akhir homepage */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  font-family: 'Poppins', sans-serif;
}



.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #3475ca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.25;
}

.banner .content {
  position: relative;
  max-width: 750px;
  text-align: center;
}

.banner .content h2 {
  color: #fff;
  font-size: 60px;
}

.banner .content p {
  color: #fff;
  font-size: 18px;
}

.banner header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000;
}

.banner header .logo {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.banner header .toggle {
  position: relative;
  width: 36px;
  height: 28px;
  background: url(../img/toggle.png);
  background-size: cover;
  cursor: pointer;
}

.about {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #162c3b;
}

.about .contentBx {
  background: #162c3b;
  padding: 100px;
  width: 50%;
}

.heading {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 90px;
}

.text {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}

.about .imgBx {
  background: url(../img/window.jpg);
  width: 50%;
  background-size: cover;
  background-position: center;
}

.services {
  background: #12222d;
  padding: 100px;
  text-align: center;
}

.services .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
}

.services .container .serviceBx {
  position: relative;
  background: #fff;
  margin: 5px;
  width: 300px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.services .container .serviceBx img {
  max-width: 100px;
}

.services .container .serviceBx h2 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
}

.technology {
  background: #3f88fc;
  width: 100%;
  padding: 100px;
  padding-top: 300px;
  margin-top: -300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.technology .contentBx {
  max-width: 800px;
}

.technology .imgBx {
  max-width: 250px;
}

.technology .imgBx img {
  max-width: 100%;
}

.client {
  background: #162c3b;
  padding: 100px;
  text-align: center;
}

.client .imgBx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}

.client .imgBx img {
  max-width: 200px;
  margin: 20px;
  opacity: 0.25;
  cursor: pointer;
}

.client .imgBx img:hover {
  opacity: 1;
}

.testimonials {
  position: relative;
  padding: 100px;
  background: #12222d;
  text-align: center;
}

.testimonials .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.testimonials .container .contentBx {
  background: #fff;
  padding: 60px 50px;
  margin: 5px;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.testimonials .container .contentBx p {
  font-style: italic;
}

.testimonials .container .contentBx h3 {
  width: 100%;
  text-align: end;
  font-weight: 500;
  color: #3f8ffc;
}

.contact {
  padding: 100px;
  background: #162c3b;
  text-align: center;
}

.imgBx2 {
  background: url(../img/bg2.jpg);
  background-size: cover;
  background-position: center;
  width: 50%;
}

.redbg {
  background: url(../img/red.jpg) !important;
  background-size: cover;
  background-position: center;
}

.form .inputBx {
  margin-bottom: 40px;
}

.form .inputBx input {
  width: 100%;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  border-bottom: 2px solid #fff;
}

.form .inputBx input::-webkit-input-placeholder {
  color: #fff;
}

.form .inputBx input:-ms-input-placeholder {
  color: #fff;
}

.form .inputBx input::-ms-input-placeholder {
  color: #fff;
}

.form .inputBx input::placeholder {
  color: #fff;
}

.form .inputBx textarea {
  width: 100%;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  min-height: 150px;
  border-bottom: 2px solid #fff;
}

.form .inputBx textarea::-webkit-input-placeholder {
  color: #fff;
}

.form .inputBx textarea:-ms-input-placeholder {
  color: #fff;
}

.form .inputBx textarea::-ms-input-placeholder {
  color: #fff;
}

.form .inputBx textarea::placeholder {
  color: #fff;
}

.form .inputBx input[type="submit"] {
  width: 150px;
  background: #fff;
  color: #111;
  cursor: pointer;
  font-weight: 400px;
}

.footer {
  background: #162c3b;
  padding: 20px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer ul li {
  list-style: none;
}

.footer ul li a {
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}

.footer ul li a img {
  -webkit-filter: invert(1);
          filter: invert(1);
  max-width: 20px;
}

@media (max-width: 991px) {
  .banner {
    padding: 50px;
  }
  .banner header {
    padding: 20px 50px;
  }
  .banner .content h2 {
    font-size: 36px;
  }
  .banner .content p {
    font-size: 18px;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .contentBx,
  .about .imgBx {
    width: 100%;
    padding: 50px;
    min-height: 400px;
    text-align: center;
  }
  .services {
    padding: 50px;
  }
  .services .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
  .services .container .serviceBx {
    margin: 20px;
    width: 300px;
    height: 350px;
  }
  .technology {
    padding: 50px;
    padding-top: 300px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .technology .imgBx {
    margin-top: 40px;
    max-width: 250px;
  }
  .client {
    padding: 50px;
  }
  .client .imgBx {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .testimonials {
    padding: 50px;
  }
  .testimonials .contentBx {
    padding: 60px 40px;
    max-width: 550px;
    margin-bottom: 40px;
  }
  .testimonials .contentBx:last-child {
    margin-bottom: 0px;
  }
  .contact {
    padding: 50px;
  }
  .footer {
    padding: 20px 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  .footer ul {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=main.css.map */

/* awal produk */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');



.bod_prod1{
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

.head_prod {
  top: 40px;
}

.container{
    max-width: 70rem;
    padding: 0 2rem;
    margin: 0 auto;
}



header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 25;
}

.black1{
    position: absolute;
    bottom: -100px;
    width: 5100px;
    right: 0;
    z-index: 2;
    top: 0px;
}




.product_sam{
    position: absolute;
    width: 950px;
    padding-bottom : 10px;
    right: -20px;
    z-index: 20;
}

.kiri{
    position: absolute;
    width:100%;
    top:-40px;
    left: 0;
    z-index: 18;
}

.kanan{
    position: absolute;
    width: 100%;
    bottom: 50px;
    left: 10px;
    z-index: 17;
}


.bar{
    position: relative;
    width: 1.2rem; 
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
}

.bar:before, .bar:after{
    content: '';
    position: absolute;
    width: 1.55rem;
    height: 3px;
    right: 0;
    background-color: #fff;
    border-radius: 2px;
}

.bar:before{
    transform: translateY(-8px);
}

.bar:after{
    transform: translateY(8px);
}

.btn_produk_1 {
  padding: 9px 25px;
  background-color: rgb(39, 168, 207);
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  z-index: 999;
  top: 430px;
  left: 200px;
}
.btn_produk_1:hover {
  background-color: rgba(179, 183, 184, 0.8);
}
/* logo samsung */
.big-samsung{
    position: absolute;
    left : 170px;
    z-index: 30;
    line-height: 4rem;
    top: calc(40% - 2rem);
    width: 30%;
    
    
}

/* tulisan berjalan */
.big-titlee {
    position: absolute;
    left : 190px;
    z-index: 40;
    line-height: 4rem;
    top: calc(50% - 2rem);
    width: 100%;
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    animation: type 10s steps(23);
    overflow:hidden;
    white-space : nowrap;
    font-family: Poppins;
    width: 40ch;
}
@keyframes type {
     0% {
          width:0ch;
      }
      20% {
        width: 10ch;
    }
      30% {
        width: 20ch;
    }
      40% {
        width: 30ch;
    }
    50% {
        width: 40ch;
    }
    60% {
        width: 50ch;
    }
    
    }

    @media (max-width: 850px){
      .kanan {
        max-width: 100%;
        bottom: 200px;
      } 
      .black1 {
        width: 3000px;
        top: 0px;
      }

      .kiri {
        max-width: 100%;
      }

      .product_sam {
        max-width: 70%;
        top: calc(4% - 2rem);
      }
      .big-samsung {
        position: absolute;
    left : 30px;
    z-index: 30;
    line-height: 4rem;
    top: calc(20% - 2rem);
    width: 34%;
      }

      .big-titlee {
        position: relative;
        left: 30px;
        top: calc(20% - 2rem);
      font-weight: normal;
      }

      .btn_produk_1 {
        top: calc(30% - 2rem);
      }
      
    }

    @media (max-width: 650px){
      .big-titlee {
        position: relative;
        left: 30px;
        top: calc(20% - 1rem);
      font-weight: normal;
      }

      .btn_produk_1 {
        top: calc(20% - 2rem);
        left: 30px;
        padding: 1px 10px;
      }
    }
    /* pembatas bagian bawah */
section{
    width: 100%;
    background-color:#000000;
    position: relative;
}

section .container{
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section img{
    width: 100%;
}

section .container > *{
    margin: 2rem;
}

.text {
    margin-top: -55px;
}
/* tulisan about */
.content{
    color: #fff;
    transform: translateY(-50px);
}

.imgContainer{
    transform: translateY(50px);
}

.title{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    position: relative;

}

.border{
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #fff;
    bottom: 0;
    left: 0;
}

.shadow{
    position: absolute;
    bottom: 92%;
    height: 300px;
    width: 100%;
    left: 0;
    z-index: 20;
    background: linear-gradient(to top, #15151500, transparent);
}

.opacity{
    opacity: 0;
}

/* akhirproduct */

/* awal slider bagian product */

.slider{
	max-width: 900px;
	border:5px solid  #b7b9b9;
	margin:80px auto;
	position: relative;
	overflow: hidden;
}

.slider .left-slide,.slider .right-slide{
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #444444;
  border-radius: 50%;
  color:#ffffff;
  font-size: 20px;
  top:50%;
  cursor: pointer;
  margin-top: -20px;
  text-align: center;
  line-height: 40px;
  
}
.slider .left-slide:hover,.slider .right-slide:hover{
 box-shadow: 0px 0px 10px black;
 background-color: #747474;
}

.slider .left-slide{
	left: 30px;
}
.slider .right-slide{
	right: 30px;
}
.slider .slider-items .item img{
	max-width: 100%;
	display: block;
	animation:zoom 2s ease;
}

@keyframes zoom{
	0%{transform: scale(2);opacity: 0}
	50%{transform: scale(2);}
	100%{transform: scale(1);opacity:1}
}
.slider .slider-items .item{
	display: none;
	position: relative;
}
.slider .slider-items .item .caption{
position: absolute;
width: 100%;
height: 60px;
bottom: 0px;
left: 0px;
background-color: rgba(0,0,0,.5);
line-height: 60px;
text-align: center;
color: #ffffff8c;
font-size: 15px;

}

.slider .slider-items .item.active{
	display: block;
}


@media (max-width: 850px){
.product{
    position: absolute;
    width: 100%;
    top : 100px;
    z-index: 20;
    }
}

/* akhir slider bagian product*/

@media (max-width: 850px){
    section .container{
        grid-template-columns: 1fr;
    }
    
}

@media(max-width: 600px){
    .big-title{
        font-size: 3rem;
        top : 400px;
    }

    .text{
        font-size: .8rem;
    }
    

    .title{
        font-size: 1.2rem;
    }
}
.sampul {
  width: 100px;
}

.table > tbody > tr > * {
  vertical-align: middle;
}
/* akhir produk */

/* tambah */
.bod_daf {
  background:url(../img/prodwal.jpg);
  background-repeat: round;
}

.produk_1 {
  padding-left: 60px;
}

.slider_product{
	width:100%;
	height: 100%;
	justify-content: center;
  align-items: center;
  background-color: rgb(30, 114, 210);
  padding: 80px;
}


.btn_tambah {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  margin: 0 30px;
  padding: 0 10px;
  border-radius: 20px;
  transition: 0.3s;
  z-index: 9999999;
  top: 150px;
  left: 70px;
}

.btn_tambah:hover{
  color: #000;
  background: #fff;
  z-index: 999;
}
 

  /* slider product */



  .box{
    width:230px;
    background-color: rgba(255, 255, 255, 0.171);
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.192);
    border-radius: 6px;
    overflow: hidden;
    margin: 25px;
    top: 50px;
  }
  .slide-img{
    height: 300px;
    position:relative;

  }
  .slide-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
  }
  .detail_box_prod{
    width: 100%;
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: calibri;
    background-color: rgba(0, 0, 0, 0.158);
  }
  .type{
    
  }
  
  .type span{
    color:rgba(26,26,26,0.5);
  }
 
  .overlay{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width:100%;
    height: 100%;
    background-color: rgba(76, 76, 194, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn_detail{
    width:100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 201, 201);
    color:#ffffff;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: calibri;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
  }
  .btn_detail:hover{
    color:#FFFFFF;
    background-color: #f15fa3;
    transition: all ease 0.3s;
  }
  
  .overlay{
    visibility: hidden;
  }
  .slide-img:hover .overlay{
    visibility: visible;
    animation:fade 0.5s;
  }
   
  @keyframes fade{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }


/* tambah data(create) */

.con_create {
  top: 100px;
}
.text_atas_tambah {
  padding-top: 100px;
  color: white;
  font-size: 20px;
  margin-left: 50px;
}

.type_detail {
  color: white;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.type_detail span {
  color: #0000006b;
}

/* akhir detail produk  */

/* search */
.search_product {
  top: 70px;
  padding: 9px 25px;
  z-index: 99999;
  width: 350px;
  left: 60px;
  border-radius:50px ;
}

  .btn_search{
    padding: 1px 10px;
    background-color: rgb(0, 153, 255);
    border: none;
    color: white;
    cursor: pointer;
    border-radius:0 5px 5px 0;
    transition: all 0.3s ease 0s;
  }
  .btn_search:hover {
    background-color: rgba(0,136, 169, 0.8);
  }

.con_detail{
  top: 100px;
}


/* awal detail */
.product-detail {
	width: 70vw;
	height: 70vh;
  display: flex;
  border-radius:20px 20px 20px 20px;
}

.imagery {
	flex: 1 1 60%;
	width: 60%;
	padding: 50px 100px;
	background-color: #0f79cf;
  transition: 0.4s;
  border-radius:20px 0 0 20px;
}
.imagery img {
	width: 230%;
  height: 100%;
  left: -300px;
	object-fit: contain;
	object-position: top;
	animation: fadein 1s ease-in-out forwards;
	animation-delay: 0.5s;
	opacity: 0;
}

.detail {
	flex: 1 1 40%;
	width: 40%;
	padding: 50px;
}

.detail h1 {
  color: #e6e6e6;
  font-family: 'muli';
	font-size: 32px;
	font-weight: 900;
}
.detail h2 {
	color: #a8a8a8;
	font-size: 16px;
	font-weight: 700px;
}
.detail h3 {
	color: #ffffff;
	font-size: 22px;
	font-weight: 300;
	margin-bottom: 50px;
}

.btn_grid {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
}

.btn_grid .btn_wrap {
	flex: 1 1 50%;
	width: 50%;
	padding: 15px;
}

button {
	display: block;
	width: 100%;
	padding: 15px;

	appearance: none;
	outline: none;
	background: none;
	cursor: pointer;
	border: 2px solid #EEE;

	color: #6d6d6d;
	font-size: 20px;
	font-weight: 700;

	transition: 0.4s;
}
button:hover {
	box-shadow: 0px 0px 8px rgba(163, 163, 163, 0.1);
}

button.size {
	position: relative;
	z-index: 1;
}
button.size::before,
button.size::after {
	content: '';
	position: absolute;
	top: -3px;
	left: -3px;
	right: -3px;
	bottom: -3px;
	transition: 0.4s;
}
button.size::after {
	z-index: -1;
	background-color: rgb(226, 226, 226);
	border: 3px solid rgb(209, 209, 209);
}
button.size::before {
	z-index: -2;
	background-image: linear-gradient(to right, #ED008D, #8D00ED);
}
button.size.selected::after {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.btn_delete{
	margin-top: 30px;
	background-image: linear-gradient(to right, transparent 50%, #ED008D 50%, #8D00ED 100%);
	background-size: 200%;
	background-position: 0% 50%;
  transition: 0.8s;
  margin-right: 20px;
  padding: 2px 10px;
  left: 20px;
}
.btn_delete:hover {
	color: #FFF;
	background-position: 100% 50%;
}

.btn_edit{
	margin-top: 30px;
	background-image: linear-gradient(to right, transparent 50%, #ED008D 50%, #8D00ED 100%);
	background-size: 200%;
	background-position: 0% 50%;
  transition: 0.8s;
  left: 70px;
  padding: 2px 30px;


}
.btn_edit:hover {
	color: #FFF;
	background-position: 100% 50%;
}



@keyframes fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

/* awal contact */
.con_contact {
  position: absolute;
  padding: 100px;
  background: #ffffff;
  left: 100px;
  top: 150px;
  
}
.con_contact h2{
 bottom: 70px;
 font-family: muli;
 
}


.contact .contentBx {
  background: #162c3b;
  padding: 100px;
  width: 70%;
}

/* awal ubah data */
.con_ubahdata{
  top: 130px;
}