@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 70rem;
    padding: 0 2rem;
    margin: 0 auto;
}



header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 25;
}

.black1{
    position: absolute;
    bottom: -100px;
    width: 5100px;
    right: 0;
    z-index: 2;
}

.navbar.nav-link {
    color: white;
}

.product{
    position: absolute;
    width: 950px;
    padding-bottom : 10px;
    right: -20px;
    z-index: 20;
}

.kiri{
    position: absolute;
    width: 1920px;
    top:0px;
    left: 0;
    z-index: 18;
}

.kanan{
    position: absolute;
    width: 1920px;
    bottom: 50px;
    right: 0;
    z-index: 17;
}


.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 30;
    background: linear-gradient(to bottom, rgba(172, 38, 38, 0.05))
}


.logo{
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

.logo span{
    font-weight: 300;
}


.bar{
    position: relative;
    width: 1.2rem; 
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
}

.bar:before, .bar:after{
    content: '';
    position: absolute;
    width: 1.55rem;
    height: 3px;
    right: 0;
    background-color: #fff;
    border-radius: 2px;
}

.bar:before{
    transform: translateY(-8px);
}

.bar:after{
    transform: translateY(8px);
}
/* logo samsung */
.big-samsung{
    position: absolute;
    left : 170px;
    z-index: 30;
    line-height: 4rem;
    top: calc(40% - 2rem);
    width: 30%;
}

/* tulisan berjalan */
.big-titlee {
    position: absolute;
    left : 190px;
    z-index: 40;
    line-height: 4rem;
    top: calc(50% - 2rem);
    width: 100%;
    font-size: 1rem;
    font-weight: 200;
    color: #fff;
    animation: type 10s steps(23);
    overflow:hidden;
    white-space : nowrap;
    font-family: Poppins;
    width: 40ch;
}
@keyframes type {
     0% {
          width:0ch;
      }
      20% {
        width: 10ch;
    }
      30% {
        width: 20ch;
    }
      40% {
        width: 30ch;
    }
    50% {
        width: 40ch;
    }
    60% {
        width: 50ch;
    }
    
    
    
    }

    /* pembatas bagian bawah */
section{
    width: 100%;
    background-color: black;
    position: relative;
    margin-top: -50px;
}

section .container{
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section img{
    width: 100%;
}

section .container > *{
    margin: 2rem;
}

.text {
    margin-top: -55px;
}
/* tulisan about */
.content{
    color: #fff;
    transform: translateY(-50px);
}

.imgContainer{
    transform: translateY(50px);
}

.title{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    position: relative;

}

.border{
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #fff;
    bottom: 0;
    left: 0;
}

.shadow{
    position: absolute;
    bottom: 92%;
    height: 300px;
    width: 100%;
    left: 0;
    z-index: 20;
    background: linear-gradient(to top, #151515, transparent);
}

.opacity{
    opacity: 0;
}

/* awal slider */

.slider{
	max-width: 900px;
	border:5px solid  #b7b9b9;
	margin:80px auto;
	position: relative;
	overflow: hidden;
}

.slider .left-slide,.slider .right-slide{
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #444444;
  border-radius: 50%;
  color:#ffffff;
  font-size: 20px;
  top:50%;
  cursor: pointer;
  margin-top: -20px;
  text-align: center;
  line-height: 40px;
  
}
.slider .left-slide:hover,.slider .right-slide:hover{
 box-shadow: 0px 0px 10px black;
 background-color: #747474;
}

.slider .left-slide{
	left: 30px;
}
.slider .right-slide{
	right: 30px;
}
.slider .slider-items .item img{
	max-width: 100%;
	display: block;
	animation:zoom 2s ease;
}

@keyframes zoom{
	0%{transform: scale(2);opacity: 0}
	50%{transform: scale(2);}
	100%{transform: scale(1);opacity:1}
}
.slider .slider-items .item{
	display: none;
	position: relative;
}
.slider .slider-items .item .caption{
position: absolute;
width: 100%;
height: 60px;
bottom: 0px;
left: 0px;
background-color: rgba(0,0,0,.5);
line-height: 60px;
text-align: center;
color: #ffffff8c;
font-size: 15px;

}

.slider .slider-items .item.active{
	display: block;
}


@media (max-width: 850px){
.product{
    position: absolute;
    width: 100%;
    top : 100px;
    z-index: 20;
    }
}

/* akhir slider */

@media (max-width: 850px){
    section .container{
        grid-template-columns: 1fr;
    }
    
}

@media(max-width: 600px){
    .big-title{
        font-size: 3rem;
        top : 400px;
    }

    .text{
        font-size: .8rem;
    }
    

    .title{
        font-size: 1.2rem;
    }
}
.sampul {
  width: 100px;
}

.table > tbody > tr > * {
  vertical-align: middle;
}